/* ===========================================
     Base Element Styles
   =========================================== */

* {
    box-sizing: border-box;
    color: #707070;
}

body {
    font-family: 'Merriweather', serif;
}

h1 {
    background-color: #212f3c;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

header {
    text-align: center;
}

h2,
legend {
    font-size: 1.25rem;
    font-weight: bold;
    color:  #212f3c;
}

 /* ==========================================
     Base Layout Styles 
    ========================================== */
    
    /* ---- Layout Containers ---- */

    #container {
        display: flex;
        flex-direction: column;
        width: 99%;
        max-width: 800px;
        margin: 0 auto;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
  
    /* ---- Page Elements ---- */

    #intro {
        text-align: center;
    }
    
    #intro-text {
        text-align: center;
        font-size: 1em;
        margin-bottom: 0.25em;
        padding-bottom: 2em;
        border-bottom: 3px solid #212f3c;
    }

    #intro-text,
    #copyright {
        text-align: center;
        color: gray;
    }

    #copyright {
        font-weight: lighter;
        font-size: 0.75em;
        font-style: italic;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }

 /* ==========================================
     Form Styles 
    ========================================== */

    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    fieldset input:last-child {
        margin-bottom: 2em;
    }

    fieldset textarea {
        margin-bottom: 2em;
    }
    
    legend{
        padding-top: 1em;
        padding-bottom: 1em;
        width: 100%;
        border-top: 2px solid  #212f3c;
    }
    
    label {
        padding: 0.75em 0.75em 0.75em 0;
    }
    
    input,
    select,
    textarea {
        border: 1px solid #e8e8e8;
        background-color: #e8e8e8;
        padding: 0.75em;
    
    }

    input:focus,
    select:focus,
    textarea:focus {
        outline: 3px solid #767fe8;
    }

    #zipcode {
        max-width: 50%;
    }

    #topics {
        height: 5em;
    }

    input::placeholder {
        font-style: italic;
        color: darkgray;
        font-size: 0.75em;
        text-align: right;
    }

    .checkbox-radios {
        flex-direction: row;
        width: 200px;
        margin-left: 20px;
    }

    .check-radio-label {
        padding-left: 0.75em;
    }

    .disabled {
        color: darkgray;
    }

    .btn {
        padding: 1em;
        border: none;
        background: #40b5ad;
        color: white;
        font-weight: bold;
    }

    .rounded {
        border-radius: 5px;
    }

 /* =========================================
    Media Queries
    ========================================= */   
